apiVersion: apps/v1
kind: Deployment
metadata:
  name: client
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: client:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          env:
            - name: REACT_APP_API_URL
              value: "http://localhost"
            - name: REACT_APP_DOCUMENTS_URL
              value: "http://localhost/api/documents"
            - name: REACT_APP_COLLABORATION_URL
              value: "http://localhost"
            - name: REACT_APP_AUTH_URL
              value: "http://localhost/api/auth"
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: client
  namespace: default
spec:
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: client
